data/
example_image/
paper/
__pycache__/
wandb/
.vscode/
images/
playground/
ruche_log/
model/saved_models/
*.onnx
*.gz
sftp.json
notebooks/
*.zip
results/
reconstruction/
generated_test/

*.tif
*.tif
send_filippo/
matlab/original/

